﻿.sticky-offset {
	top: 240px;
}

.navBar-item-image{
	margin-top: 5px;
	width: 130px;	
}

li.nav-item {
	background-color: #f1f1f1;
	margin: 0px 0px 5px 5px;
	text-align: center;
	color: #3a3a3a;
}

#header{
	min-height: 240px;
	align-content: center;
}

#navbarSupportedContent li a:link {
	color: #3a3a3a;
}

#navbarSupportedContent li a:visited{
	color: #3a3a3a;
}

#navbarSupportedContent li a:active{
	color: #3a3a3a;
}

#navbarSupportedContent li a:hover {
	background-color: #555;
	color: white;
}


li.nav-no-background {	
	background-color: transparent ;	
}

#footer {
	clear: both;
	margin:0 auto; 
	padding:0;
	text-align: center;
	color: white  ;
	text-shadow: 0 1px black;
	background-image: url('../img/header.png');
	margin-top:10px;

	padding-top:10px;
	padding-bottom:10px;
	position: relative;
	z-index: 2;
}

h1,h2 {
	margin-top: 0;
	margin-bottom: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -240px;
    visibility: hidden;
}

@media screen and (min-width: 960px) {
	html, body {
		color: #3a3a3a; 
		font-family: Verdana,Tahoma,Arial,sans-serif; 
		font-size: 16px;
		padding: 0;
		margin: 0;
		background:#E8E8E8;
	}


	#header {
		background-color: #707070;
		color: white  ;
		text-shadow: 0 1px black;
		background-image: url('../img/header.png');
		background-repeat: no-repeat;
		width: 960px;
		top: 0px;
		left:50%;
		transform: translateX(-50%);
		margin: 0 auto;
	}

	#header h1{
		text-align: center;
	}


	#wrapper {
		background:#FFFFFF; 
		margin:0 auto;
		padding: 0;
		width: 960px;
		padding-top: 240px;
	}

	
}

@media screen and (max-width: 959px) {
	html, body {
		color: #3a3a3a; 
		font-family: Verdana,Tahoma,Arial,sans-serif; 
		font-size:16px;
		padding: 0;
		margin: 0;
		background:#E8E8E8;
		margin: 0 auto;	
		min-width: 488px;
	}

	

	#header {
		color: #F0F0F0;
		text-shadow: 0 1px black;
		background-image: url('../img/header.png');
		background-repeat: no-repeat;
		text-align: center;
		margin: 0 auto;
		min-width: 451px;
	}


	#wrapper {
		background:#FFFFFF;
		margin: 0 auto;	
		padding-top: 240px;
	}

	#navBar{
		padding: 0 0 0 0;
	}

	

	
}